.about {
  padding-top: 60px;
  padding-bottom: 60px;

  @include large-layout {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @include medium-layout {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @include small-layout {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;

    @include medium-layout {
      flex-direction: column;
      row-gap: 20px;
    }

    &:after {
      content: '';
      flex-basis: 530px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: -webkit-image-set(
        url('../img/about@2x.avif') type('image/avif') 2x,
        url('../img/about.avif') type('image/avif') 1x,
        url('../img/about@2x.webp') type('image/webp') 2x,
        url('../img/about.webp') type('image/webp') 1x,
        url('../img/about@2x.jpg') 2x,
        url('../img/about.jpg') 1x
      );
      background-image: image-set(
        url('../img/about@2x.avif') type('image/avif') 2x,
        url('../img/about.avif') type('image/avif') 1x,
        url('../img/about@2x.webp') type('image/webp') 2x,
        url('../img/about.webp') type('image/webp') 1x,
        url('../img/about@2x.jpg') 2x,
        url('../img/about.jpg') 1x
    );

      @include large-layout {
        flex-basis: 50%;
        background-image: -webkit-image-set(
          url('../img/about-1024@2x.avif') type('image/avif') 2x,
          url('../img/about-1024.avif') type('image/avif') 1x,
          url('../img/about-1024@2x.webp') type('image/webp') 2x,
          url('../img/about-1024.webp') type('image/webp') 1x,
          url('../img/about-1024@2x.jpg') 2x,
          url('../img/about-1024.jpg') 1x
        );
        background-image: image-set(
          url('../img/about-1024@2x.avif') type('image/avif') 2x,
          url('../img/about-1024.avif') type('image/avif') 1x,
          url('../img/about-1024@2x.webp') type('image/webp') 2x,
          url('../img/about-1024.webp') type('image/webp') 1x,
          url('../img/about-1024@2x.jpg') 2x,
          url('../img/about-1024.jpg') 1x
        );
      }

      @include medium-layout {
        width: 100%;
        flex-basis: 300px;
        background-image: -webkit-image-set(
          url('../img/about-768@2x.avif') type('image/avif') 2x,
          url('../img/about-768.avif') type('image/avif') 1x,
          url('../img/about-768@2x.webp') type('image/webp') 2x,
          url('../img/about-768.webp') type('image/webp') 1x,
          url('../img/about-768@2x.jpg') 2x,
          url('../img/about-768.jpg') 1x
        );
        background-image: image-set(
          url('../img/about-768@2x.avif') type('image/avif') 2x,
          url('../img/about-768.avif') type('image/avif') 1x,
          url('../img/about-768@2x.webp') type('image/webp') 2x,
          url('../img/about-768.webp') type('image/webp') 1x,
          url('../img/about-768@2x.jpg') 2x,
          url('../img/about-768.jpg') 1x
        );
      }

      @include small-layout {
        flex-basis: 268px;
        background-image: -webkit-image-set(
          url('../img/about-320@2x.avif') type('image/avif') 2x,
          url('../img/about-320.avif') type('image/avif') 1x,
          url('../img/about-320@2x.webp') type('image/webp') 2x,
          url('../img/about-320.webp') type('image/webp') 1x,
          url('../img/about-320@2x.jpg') 2x,
          url('../img/about-320.jpg') 1x
        );
        background-image: image-set(
          url('../img/about-320@2x.avif') type('image/avif') 2x,
          url('../img/about-320.avif') type('image/avif') 1x,
          url('../img/about-320@2x.webp') type('image/webp') 2x,
          url('../img/about-320.webp') type('image/webp') 1x,
          url('../img/about-320@2x.jpg') 2x,
          url('../img/about-320.jpg') 1x
          );
      }
    }
  }

  &__content {
    flex-basis: 750px;

    @include large-layout {
      flex-basis: 50%;
    }

    @include medium-layout {
      flex-basis: 100%;
    }
  }

  &__title {
    margin-bottom: 32px;
    font-size: 52px;

    @include large-layout {
      margin-bottom: 24px;
      font-size: 40px;
    }

    @include medium-layout {
      @include block-width(388px);
    }

    @include small-layout {
      margin-bottom: 16px;
      font-size: 28px;
    }
  }

  &__description {
    font-size: 20px;

    @include large-layout {
      font-size: 16px;
    }
  }
/*
  &__picture {
    flex-basis: 530px;

    @include large-layout {
      flex-basis: 436px;
    }
    // todo
    @include medium-layout {
      
    }
  }
  */
}
