.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: $footer-background;
  line-height: $footer-line-height;

  @include medium-layout {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  @include small-layout {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__container {
    display: grid;
    grid-template-areas: 
    "developers logo"
    "copyright logo";
    row-gap: 36px;

    @include medium-layout {
      row-gap: 20px;
    }

    @include small-layout {
      grid-template-areas: 
      "logo"
      "developers"
      "copyright";
    }    
  }

  &__developers {
    grid-area: developers;
    font-size: 16px;

    @include medium-layout {
      font-size: 12px;
    }
  }

  &__developer {
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__developer-link:hover {
    color: $hover-red;
  }


  &__copyright {
    grid-area: copyright;
    font-size: 16px;

    @include medium-layout {
      font-size: 12px;
    }
  }

  &__logo {
    width: 287px;
    grid-area: logo;
    justify-self: end;
    align-self: end;

    @include medium-layout {
      width: 217px;
    }

    @include small-layout {
      justify-self: start;
      margin-bottom: 4px;
    }
  }
}
