.header {
  position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

  &__container {
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include medium-layout {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    @include small-layout {
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }

  &__logo {
    @include block-width(165px);

    @include medium-layout {
      @include block-width(130px);
    }

    @include small-layout {
      @include block-width(80px);
    }
  }

  &__link {
    @include small-layout {
      display: none;
    }
  }
}
