.hero {
  position: relative;
  height: 887px;
  padding-bottom: 60px;
  overflow: hidden;

  @include large-layout {
    height: 685px;
    padding-bottom: 50px;
  }

  @include medium-layout {
    height: 643px;
    padding-bottom: 40px;
  }

  @include small-layout {
    height:429px;
    padding-bottom: 30px;
  }

  &__picture {
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 218px;
      bottom: 0;
      left: 0;
      z-index: 1;
      background: linear-gradient(90deg, rgba(0,2,1,1) 0%, rgba(0,2,1,1) 100%);
      background: linear-gradient(transparent, 30%, #000201);
    }
  }

  &__banner {
    @include center-block(100vw);
    object-fit: cover;
    object-position: 0 0;
  }

  &__banner-text {
    position: absolute;
    top: 476px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    @include block-width(795px);

    @include large-layout {
      top: 337px;
      @include block-width(639px);
    }

    @include small-layout {
      top: 173px;
      @include block-width(288px);
    }
  }

  &__text {
    position: absolute;
    top: 687px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    color: $main-red;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;

    @include large-layout {
      top: 507px;
      font-size: 32px;
    }

    @include small-layout {
      top: 251px;
      font-size: 20px;
    }
  }
  

  &__link {
    position: absolute;
    top: 760px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    @include large-layout {
      top: 571px;
    }

    @include medium-layout {
      top: 567px;
    }

    @include small-layout {
      top: 363px;
    }
  }
}
