.hero {
  padding-top: 33vw;
  padding-bottom: 60px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(
    180deg, rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.76) 65%,
    rgba(0, 0, 0, 1) 100%
    ),
    image-set(
      url('../img/hero@2x.avif') type('image/avif') 2x,
      url('../img/hero.avif') type('image/avif'),
      url('../img/hero@2x.webp') type('image/webp') 2x,
      url('../img/hero.webp') type('image/webp'),
      url('../img/hero@2x.jpg') 2x,
      url('../img/hero.jpg')
    );

    @include large {
      background-size: contain;
    }

    @include large-layout {
      padding-bottom: 50px;
    }

    @include medium-layout {
      padding-bottom: 40px;
    }

    @include small-layout {
      padding-bottom: 30px;
      padding-top: 54vw;
      background-image: linear-gradient(
      180deg, rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.76) 65%,
      rgba(0, 0, 0, 1) 100%
      ),
      image-set(
        url('../img/hero-320@2x.avif') type('image/avif') 2x,
        url('../img/hero-320.avif') type('image/avif'),
        url('../img/hero-320@2x.webp') type('image/webp') 2x,
        url('../img/hero-320.webp') type('image/webp'),
        url('../img/hero-320@2x.jpg') 2x,
        url('../img/hero-320.jpg')
      );
    }

    &__container {
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: center;
    }

		&__banner-text {
      margin-bottom: 2px;
      @include block-width(795px);

      @include large-layout {
        @include block-width(639px);
      }

      @include small-layout {
        @include block-width(288px);
      }
		}

		&__date {
      padding-bottom: 16px;
      color: $main-red;
      font-size: 40px;
      font-weight: 600;
      text-transform: uppercase;

      @include large-layout {
        font-size: 32px;
      }

      @include medium-layout {
        margin-bottom: 12px;
      }

      @include small-layout {
        font-size: 20px;
      }
		}

    &__link {
      display: none;

      @include small-layout {
        display: block;
        margin-bottom: 32px;
      }
    }

		&__arrow {
      width: 64px;
      height: 64px;

      &:hover {
        color: $main-red;
      }

      @include medium-layout {
        width: 36px;
        height: 36px;
      }
		}
}
